@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Primary and Secondary Colors */
  --primary-navy: #001f3f;
  --secondary-orange: #ff851b;
  --secondary-white: #ffffff;
  --secondary-orange-hover: #e5781a;

  /* Accent Colors */
  --light-navy: #003366;
  --dark-orange: #ff5a00;
  --light-gray-white: #f7f7f7;

  /* Text Colors */
  --dark-gray: #333333;
  --light-gray: #7d7d7d;
}

/* ! begin of globle class */

body {
  font-family: "Poppins", serif;
}

.btn-chuollan {
  outline: none;
  border: none;
  padding: 7px 15px;
  border-radius: 7px;
  background-color: var(--secondary-orange) !important;
  color: #fff !important;
  font-weight: 500 !important;
  transition: 0.2s ease;
}

.btn-chuollan:hover {
  background-color: var(--secondary-orange-hover) !important;
}

.link-text {
  color: var(--secondary-orange) !important;
}

/* ! end of globle class */

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-top-mini {
  width: 100%;
  padding: 5px 0;
  background-color: var(--dark-orange);
  color: #fff;
  font-size: 16px;
}

.social-media-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.social-media-list .social-item {
  padding-right: 10px;
  padding-top: 10px;
}

.social-media-list .social-item .social-link i {
  font-size: 20px;
  color: var(--secondary-orange);
}

.social-media-list .social-item .social-link:hover i {
  color: var(--secondary-orange-hover);
}

.navbar {
  background-color: var(--light-gray-white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar .navbar-brand img {
  width: 50px;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  transition: 0.2s;
  cursor: pointer;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--secondary-orange);
}

.navbar .navbar-nav .nav-item {
  position: relative;
  padding: 10px;
}

.navbar .navbar-nav .nav-item .menu-dropdown {
  width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--secondary-white);
  list-style-type: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  top: 0;
  display: none;
  transition: 0.1s ease;
}

.navbar .navbar-nav .nav-item:hover .menu-dropdown {
  display: block;
  top: 60px;
}

.navbar .navbar-nav .drop-nav .menu-dropdown .nav-item {
  padding: 5px !important;
}

.navbar .navbar-nav .nav-item .menu-dropdown .nav-item:hover,
.navbar .navbar-nav .nav-item .menu-dropdown .nav-link:hover {
  color: var(--secondary-orange) !important;
}
/* ! begin of home page */

.homepage {
  position: relative;
}

.homepage .hero-banner {
  width: 100%;
  height: 670px;
  position: relative;
  overflow: hidden;
}

.homepage .hero-banner img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.homepage .hero-banner .bg-over-dark {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0; /* Position from the top */
  left: 0; /* Position from the left */
  z-index: 3; /* Stack above the image */
}

.homepage .hero-banner .content-banner {
  position: absolute;
  top: 30%;
  color: #fff;
  z-index: 4;
}

.homepage .hero-banner .main-sms {
  color: var(--dark-orange);
  font-size: 18px;
  font-weight: bold;
}

.homepage .hero-banner h1 {
  font-size: 64px; /* Adjust as needed */
  margin: 0; /* Remove default margin */
}
.mini-benefit .gp-script .tick-icon {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  background-color: var(--dark-orange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini-benefit .gp-script .tick-icon i {
  font-size: 16px;
  color: #fff;
  background-color: var(--dark-orange);
  padding: 5px;
  border-radius: 100px;
}

.mini-benefit .gp-script p {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.box-search-advance {
  width: 100%;
  height: 150px;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-search {
  padding: 10px;
  width: 100%;
  background-color: var(--light-navy);
  border-radius: 20px;
}

.input-search {
  outline: none;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.form-control:focus {
  color: none !important;
  background-color: none !important;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}

/* ! end of home page */

/* ! begin of sign in */

.form-auth {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-white);
}

.form-auth .form-content {
  width: 900px;
  background-color: var(--secondary-white);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 130px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-auth .form-content h1 {
  color: var(--light-navy);
}

.image-form {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-form img {
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  object-fit: cover;
}

.form-input {
  position: relative;
}

.form-input input {
  width: 100%;
  padding: 7px 7px 7px 35px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: 0.2s ease;
}

.form-input input:focus {
  border: 1px solid var(--secondary-orange);
  background-color: hsla(28, 100%, 55%, 0.1);
}

.form-input i {
  position: absolute;
  left: 10px;
  top: 12px;
  font-size: 18px;
  color: var(--light-gray);
}

.line-form {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  position: relative;
}

.line-form p {
  position: absolute;
  top: -12px;
  background-color: var(--secondary-white);
  left: 135px;
  padding: 0 10px;
}

.connect-social {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s ease;
}

.connect-social:hover {
  background-color: #ddd;
}

.connect-social img {
  width: 30px;
  height: 30px;
}

/* ! end of sign in */

/* ! begin of footer */

footer {
  padding: 30px 0;
  background-color: var(--primary-navy);
}

footer p {
  color: var(--light-gray-white);
}

.list-quick {
  padding: 0;
  list-style-type: none;
}

.list-quick .quick-item {
  padding-bottom: 5px;
}

.list-quick .quick-item .quick-link {
  font-size: 16px;
  color: var(--light-gray-white);
  text-decoration: none;
  transition: 0.2s ease;
}

.list-quick .quick-item:hover .quick-link,
.list-quick .quick-item:hover i {
  color: var(--secondary-orange) !important;
  padding-left: 5px;
}

.list-quick .quick-item .quick-link i {
  color: var(--dark-orange);
}

.info-contact .contact-item {
  padding: 5px 0;
}

.info-contact .contact-item p {
  font-size: 16px;
  color: var(--light-gray-white);
}

.info-contact .contact-item i {
  font-size: 16px;
  color: var(--dark-orange);
}

.copyright i {
  font-size: 16px;
  color: var(--light-gray-white);
}

.term-policy i {
  font-size: 5px;
  color: var(--light-gray-white);
}

.mini-footer .term-policy a {
  color: var(--light-gray-white);
  transition: 0.2s ease;
}

.mini-footer .term-policy a:hover {
  color: var(--secondary-orange-hover);
}

/* ! end of footer */

/* ! begin of about us */
/* 
.contact-us {
  height: 100vh;
  width: 100%;
} */

.about-us .hero-banner {
  width: 100%;
  height: 300px;
  background: url(/img/about-us/banner-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position-y: -150px;
}

.contact-us .hero-banner {
  width: 100%;
  height: 300px;
  background: url(/img/contact-us/contact-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: 50px;
  background-attachment: fixed;
}

.blog .hero-banner {
  width: 100%;
  height: 300px;
  background: url(/img/blog/blog-hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.hero-banner .link-text-banner {
  transition: 0.2s ease;
}

.hero-banner .link-text-banner:hover {
  color: var(--secondary-orange-hover) !important;
}

.barnd-partner {
  width: 100%;
  height: 100px;
}

/* Marquee container */
.marquee-container {
  width: 100%; /* Container width */
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/* Gradient fade effect */
.marquee-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 1) 100%
  );
  pointer-events: none;
  z-index: 1; /* Make sure the fade is above the images */
}

/* Marquee content with animation */
.marquee-content {
  display: flex;
  position: absolute;
  animation: marquee 20s linear infinite; /* Continuous animation */
}

/* Individual images */
.marquee-image {
  width: 150px; /* Image size */
  margin-right: 50px; /* Space between images */
}

/* Continuous scrolling animation */
@keyframes marquee {
  0% {
    transform: translateX(0); /* Start at the left edge */
  }
  100% {
    transform: translateX(
      -100%
    ); /* Move to the left by the width of the content */
  }
}

/* Pause animation on hover */
.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

.our-team .card {
  border-radius: 10px;
  border: none;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.our-team .card .image-member {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.our-team .card .image-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease;
}

.our-team .card:hover .image-member img {
  transform: scale(1.1);
}

.our-team .card .image-member .card-social {
  position: absolute;
  bottom: 0;
  left: -200px;
  background-color: var(--primary-navy);
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
  transition: 0.2s ease;
}

.our-team .card:hover .image-member .card-social {
  left: 0;
}

.our-team .card .image-member .card-social .social-item {
  padding: 10px;
}

.our-team .card .image-member .card-social .social-item .social-link {
  text-decoration: none;
}

.our-team .card .image-member .card-social .social-item .social-link i {
  font-size: 25px;
  color: var(--light-gray-white);
}

.our-team .card .image-member .card-social .social-item .social-link:hover i {
  color: var(--secondary-orange);
}

.bg-swiper-client {
  background-color: var(--dark-orange);
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

.contact-list .contact-item {
  display: flex;
  align-items: center;
}

.contact-list .contact-item img {
  width: 50px;
}

.contact-list .contact-item h4 {
  color: var(--light-navy);
}

textarea {
  outline: none;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 100px;
}

textarea:focus {
  border: 1px solid var(--secondary-orange);
  background-color: hsla(28, 100%, 55%, 0.1);
}

.map-comp {
  width: 100%;
  height: 500px;
}
/* ! end of contact */

/* ! begin of blog */

.blog-title {
  text-decoration: none;
  color: #000;
  font-size: 23px;
  font-weight: bold;
  padding-top: 10px;
}

.blog-title:hover {
  color: var(--secondary-orange);
}

.blog-list .card {
  overflow: hidden;
  border-radius: 10px;
  border: none;
}

.blog-imag {
  width: 100%;
  height: 260px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 30px;
}

.blog-imag img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.card:hover .blog-imag img {
  transform: scale(1.1);
}

.blog-btn {
  margin-top: 20px;
  color: #000;
  font-weight: 500;
}

.blog-btn .btn-arrow {
  width: 30px;
  height: 30px;
  background-color: var(--secondary-orange);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transform: rotate(-45deg);
  transition: 0.3s ease;
}

.card:hover .blog-btn {
  color: var(--secondary-orange);
}

.card:hover .btn-arrow {
  background-color: var(--secondary-orange-hover);
  transform: rotate(0deg);
}

.blog-btn .btn-arrow i {
  color: #fff;
}

/* ! end of blog */

/* ! begin of blog detail */

.blog-detail .hero-banner {
  width: 100%;
  height: 300px;
  background: url(/img/blog-detail/blog-detail-hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: 0;
  background-attachment: fixed;
}

.blog-content img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.main-point-blog {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 133, 27, 0.2);
  display: flex;
  align-items: center;
}

.main-point-blog i {
  font-size: 50px;
  color: #ff851b;
  margin-bottom: 10px;
}

.main-point-blog p {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  padding-left: 20px;
}

.blog-detail .btn-social {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: var(--secondary-orange);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-detail .btn-social i {
  color: #fff;
  font-size: 20px;
}

.form-content-blog textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
}

.form-content-blog input {
  padding: 7px 10px;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-check input {
  padding: 10px;
}

.form-check-input:checked {
  background-color: var(--secondary-orange) !important;
  border-color: transparent !important;
}

.form-check-input:focus {
  border-color: var(--secondary-orange) !important;
  outline: 0;
  box-shadow: none !important;
}

/* ! end of blog detail */

/* ! begin of pricing */

.pricing .hero-banner {
  width: 100%;
  height: 300px;
  background: url(/img/pricing/pricing-banner-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: 0;
  background-attachment: fixed;
}

.pricing .pricing-content .card {
  border-radius: 10px;
}

.pricing ul li {
  padding: 10px 0;
}

.pricing .contact-banner .banner-content {
  background-color: #040401;
  border-radius: 30px;
  background-image: url(/img/pricing/cta-box-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-contact-pricing img {
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback .card {
  border-radius: 30px;
}

.feedback .card .star-rate i {
  font-size: 18px;
  padding-right: 5px;
  color: gold;
}

.feedback .pf img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 10px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 2);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: none !important;
  align-items: center;
  justify-content: center;
  color: var(--secondary-orange) !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--secondary-orange) !important;
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #ff851b) !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
/* ! end of pricing */
